body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cart-button {
    font-size: xx-large;
}
    .cart-button:hover {
        text-decoration: none;
        text-shadow: 0 0 19px #3dff00;
    }

.food-info-icon {
    font-size: large;
}

.category-button {
    color: white;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none !important;
    font-size: x-large;
    border-radius: 12px;
    background-color: #afd8a3;
    margin: 20px 0;
    padding: 20px 0;
}
    .category-button:hover {
        background-color: #7db76b;
        color: white;
    }