@if (Request.IsAuthenticated)
{
    <div class="nav navbar-nav navbar-right">
        @Html.ActionLink("🛒", "Index", "Cart", routeValues: null, htmlAttributes: new { title = "Cart", @class = "cart-button"})
        <div id="cart-items-number" class="badge progress-bar-success" style="vertical-align: top">
            @Html.Action("ItemsNumber", "Cart")
        </div>
    </div>
}
