@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Cart", "Index", "Cart", routeValues: null, htmlAttributes: new { title = "Cart" })
        </li>
    </ul>
}
