@model TappointmentToGo.Models.Order

@{
    ViewBag.Title = "Order details";
}

<h1>
    Thank you for your purchase
</h1>
<h3>
    Your order details
</h3>
@Html.Partial("_OrderDetails")
<h4>Click <a href="@Url.Action("Index", "Home")">here</a> to go back and browse</h4>
