@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This application is an assignment from Tappointment.</p>
<p>The public repository can be found <a href="https://github.com/Leblayd/TappointmentToGo">here</a></p>

<address>
    <strong>Developed by</strong>
    <a href="mailto:leblaydavid7@gmail.com">Leblay Dávid</a><br />
</address>