@model IEnumerable<TappointmentToGo.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <h1>Choose what you would like to eat</h1>
</div>
<div class="row text-center">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Name, "Category", "Home", new { id = item.Id }, new { @class = "row col-md-4 category-button" })
    }
</div>
